In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('Property_Assessment_Data__Historical_.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,17,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df = df.drop(['Latitude', 'Longitude', 'Point Location', 'Assessment Class 2', 'Assessment Class % 2', 'Assessment Class 3', 'Assessment Class % 3'], axis = 1)

In [ ]:
def filter_by_year(df, year_column='Assessment Year'):

  mask = (df[year_column] >= 2019) & (df[year_column] <= 2021)
  return df[mask]

In [ ]:
df2 = filter_by_year(df)

In [ ]:
df2['Assessment Year'].value_counts()

2021    413809
2020    409384
2019    402419
Name: Assessment Year, dtype: int64

In [ ]:
def extract_legal_plan(df, column_name = 'Legal Description', delimiter = ' '):
    new_df = df[column_name].str.split(delimiter, expand=True)
    return df.drop(column_name, axis=1).join(new_df[1])

In [ ]:
df3 = extract_legal_plan(df2)

In [ ]:
#save this dataframe
df3.to_csv('needed_data.csv', index=False)

In [ ]:
def count_nulls(df):
    return df.isna().sum()

In [ ]:
null_counts = count_nulls(df3)
print(f'Number of null values by column: \n{null_counts}')

Number of null values by column:
Account Number               0
Assessment Year              0
Suite                   982645
House Number            132680
Street Name             132680
Neighbourhood                0
Actual Year Built        61977
Garage                       0
Zoning                     110
Lot Size                  8436
Assessed Value               0
Assessment Class 1           0
Assessment Class % 1         0
1                        14265
dtype: int64

In [ ]:
df3 = df3.drop(['Suite', 'House Number', 'Street Name'], axis = 1)

In [ ]:
arr1 = np.array(df3['Actual Year Built'])

In [ ]:
arr1.sort()

In [ ]:
arr1

array([1881., 1881., 1881., ...,   nan,   nan,   nan])

In [ ]:
# 1881 is seems to be oldest record in the data - we replace the 62k null values with 1881.
def replace_nulls_built(df, column = 'Actual Year Built', value = 1881):
  df[column].fillna(value, inplace=True)
  return df

In [ ]:
df4 = replace_nulls_built(df3)

In [ ]:
null_counts = count_nulls(df4)
print(f'Number of null values by column: \n{null_counts}')

Number of null values by column:
Account Number              0
Assessment Year             0
Neighbourhood               0
Actual Year Built           0
Garage                      0
Zoning                    110
Lot Size                 8436
Assessed Value              0
Assessment Class 1          0
Assessment Class % 1        0
1                       14265
dtype: int64

In [ ]:
df4['Actual Year Built'] = df4['Actual Year Built'].astype(int)

In [ ]:
df4 = df4.drop([1], axis = 1)

In [ ]:
df4

,Account Number,Assessment Year,Neighbourhood,Actual Year Built,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1
4,10774755,2019,HOMESTEADER,2016,Y,RF5,265.284,331500.0,RESIDENTIAL,100.0
5,10774764,2019,HOMESTEADER,2016,Y,RF5,207.691,322000.0,RESIDENTIAL,100.0
11,10773038,2021,INGLEWOOD,2015,Y,RF3,277.658,395000.0,RESIDENTIAL,100.0
13,10772761,2019,QUEEN ALEXANDRA,2016,N,CB2,32.037,198000.0,RESIDENTIAL,100.0
14,10773438,2020,SHERWOOD,2016,Y,RF1,343.855,498000.0,RESIDENTIAL,100.0
...,...,...,...,...,...,...,...,...,...,...
4217595,11013019,2021,MICHAELS PARK,2021,Y,CS2,207.061,271500.0,RESIDENTIAL,100.0
4217596,10979076,2021,CAVANAGH,1881,N,RMD,429.545,226000.0,RESIDENTIAL,100.0
4217597,10998103,2021,THE ORCHARDS AT ELLERSLIE,2021,Y,RLD,262.401,344000.0,RESIDENTIAL,100.0
4217598,10976692,2021,ARMSTRONG INDUSTRIAL,2008,N,CB2,18850.339,7679500.0,COMMERCIAL,100.0
4217609,10983428,2021,CHAPPELLE AREA,1881,N,RLD,619.282,177000.0,RESIDENTIAL,100.0

In [ ]:
null_counts = count_nulls(df4)
print(f'Number of null values by column: \n{null_counts}')

Number of null values by column:
Account Number             0
Assessment Year            0
Neighbourhood              0
Actual Year Built          0
Garage                     0
Zoning                   110
Lot Size                8436
Assessed Value             0
Assessment Class 1         0
Assessment Class % 1       0
dtype: int64

In [ ]:
df4.dropna(subset=['Zoning'], inplace=True)
df4.dropna(subset=['Lot Size'], inplace=True)

In [ ]:
null_counts = count_nulls(df4)
print(f'Number of null values by column: \n{null_counts}')

Number of null values by column:
Account Number          0
Assessment Year         0
Neighbourhood           0
Actual Year Built       0
Garage                  0
Zoning                  0
Lot Size                0
Assessed Value          0
Assessment Class 1      0
Assessment Class % 1    0
dtype: int64

In [ ]:
#save this dataframe
df3.to_csv('final_data.csv', index=False)

In [ ]:
df4.to_csv('final_data.csv', index=False)